#landing-page{
    background-color: #f5f5f5 !important;
    overflow-x: hidden;
}

.bg-hero{
    position: absolute;
    z-index: -1;
    height: 70vh;
    width: 100%;
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.25);
}

.bg-hero > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-hero > div{
    background-color:var(--color-2);
    position: absolute;
    filter: opacity(0.25);
    width: 100%;
    height: 100%;
}

/* Hero */

.hero{
    position: relative;
    top: 8vh;
    color: var(--color-bg);
    height: 80vh;
    margin-bottom: 108px;
}

.hero img{
    width: 50%;
    animation: FadeRight 500ms forwards;
}

.animate-left{
    animation: FadeLeft 500ms forwards;
}

.hero-info > p{
    opacity: 0;
}

.hero .col-6 > h3{
    opacity: 0;
}

.hero .col-6 > h1{
    font-size: 56px;
    font-weight: 500;
    opacity: 0;
}

.hero .col-6 > h1 span{
    font-size: 56px;
    color: var(--color-1);
}

.hero .col-6 > section{
    opacity: 0;
}

/* Search Section */

.search-section{
    background-color: var(--color-bg);
    color: var(--color-2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
}

.search-section label{
    margin-bottom: 12px;
}

.search-section > section{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.search-section > section   {
    border-right: solid rgba(71, 105, 48, 0.75) 1px;
}

.search-section > section:nth-child(1){
    border-radius: 12px 0px 0px 12px;
}

.search-section > section:nth-child(1) input{
    color: var(--color-2);
    border-radius: 4px;
    border: 0px;
    outline: none;
    padding: 8px 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-section .drop-down{
    position: relative;
    width: 100%;
}

.search-section .drop-down label{
    cursor: pointer;
}

.search-section .drop-down input{
    display: none;
}

.search-section .drop-down input:checked ~ ul{
    display: block;
}

.search-section .drop-down ul{
    padding: 0px;
    list-style: none;
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: var(--color-bg);
    padding: 0px 8px;
    padding-bottom: 8px;
    border-radius: 0px 0px 12px 12px;
    display: none;
    box-sizing: border-box;
    border: solid rgba(71, 105, 48, 0.75) 1px;
    border-top: 0px ;
}

.search-section .drop-down ul li{
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: solid rgba(71, 105, 48, 0.75) 1px;
    width: 100%;
    cursor: pointer;
}

.search-section .drop-down ul li:hover{
    opacity: 0.8;
}


.search-section > a{
    background-color: var(--color-1);
    cursor: pointer;
    border-radius: 0px 12px 12px 0px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 18px;
    padding: 0px 12px;
    text-decoration: none;
    text-align: center;
}

.search-section > a:hover{
    background-color: var(--color-2);
}

/* Card-popular & Popular */

.popular{
    margin-bottom: 32px;
}

.popular h1{
    color: var(--color-2);
    margin-bottom: 12px;
}

.card-popular{
    background-color: var(--color-bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    overflow: hidden;
    border: solid var(--color-2) 2px;
    color: var(--color-2);
    opacity: 0;
}

.card-popular.active{
    animation: FadeIn 500ms forwards; 
}  

.card-popular:nth-of-type(2){
    margin: 0px 64px;
}

.card-popular > section:first-child{
    width: 100%;
    aspect-ratio: 3/2;
    position: relative;
}

.card-popular > section:first-child .card-tag{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-popular > section:first-child .card-tag > i{
    color: #CDDD11;
}

.card-popular > section:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-popular > section:nth-child(2){
    padding: 6px 24px 24px 24px;
}

.card-popular > section:nth-child(2) p{
    margin-top: 12px;
    margin-bottom: 24px;
}


/* About */

#about{
    background-image: url("./assets/whychooseus.jpg");
    width: 100%;
    position: relative;
    background-size: cover;
    color: var(--color-white);
}

#about .container img{
    object-position: center;
    object-fit: contain;
}

#about p{
    font-size: 20px;
    opacity: 1;
    margin: 18px 0px;
}

#about .shape{
    width: 100%;
}

.card-why{
    padding: 24px;
    border: solid var(--color-white) 2px;
    border-radius: 12px;
    margin: 18px;
    cursor: default;
}

.card-why:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.card-why i{
    font-size: 36px;
    margin-bottom: 48px;
}

.card-why > span:first-of-type{
    font-size: 42px;
}

.card-why hr{
    width: 50%;
    margin: 20px 0px;
    border: 0px;
    border-top: solid var(--color-white) 5px;
}

/* Rating */

.review{
    margin-top: 4px;
    color: var(--color-2);
    background-color: var(--color-bg);
    padding-bottom: 64px;
}

.card-review{
    margin: 0px 24px;
}

.card-review .profile{
    width: 75%;
    border-radius: 50%;
    margin-bottom: 12px;
}

.card-review .rating-star{
    margin: 12px 0px;
}

.card-review p{
    text-align: center  ;
    margin-bottom: 12px;
}

@keyframes FadeRight {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes FadeLeft {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes FadeIn {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
